<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>themoviedb_key</key>
	<string>placeholder-key</string>
	<key>rottentomatoes_api_key</key>
	<string>uwrmrctat8y2tzk7jdaagn33</string>
</dict>
</plist>
